{% extends 'base.html' %}
{% block title %}Iniciar Sesión{% endblock %}
{% block content %}
<div class="container my-5">
    <h2>Iniciar Sesión</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>
{% endblock %}